.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--c-grey-light);
  height: 64px;
  padding: 0 48px;
}

.brand {
  font-weight: 700;
  font-size: 24px;
}

.list {
  display: flex;
}

.link {
  list-style: none;
  margin: 0 12px;
}

.link > a:link,
.link > a:visited {
  color: black;
}

.link > a {
  text-decoration: none;
}

/*---- MEDIA QUERIES ----*/

@media only screen and (max-width: 768px) {
  .navbar {
    flex-direction: column;
    padding: 24px 0;
    height: auto;
  }

  .list {
    margin-top: 24px;
  }
}
