/*
design system

2px
4px
8px
12px
16px
24px
32px
48px
64px
96px
128px
192px
256px
384px
512px
768px
*/

:root {
  --c-white: #fff;
  --c-black: #000;

  --c-grey-dark: #808080;
  --c-grey: #a1a1a1;
  --c-grey-light: #efefef;

  --c-pink-dark: #c64f90;
  --c-pink: #fa6bba;
  --c-pink-light: #f8c7ee;

  --c-blue-dark: #10528c;
  --c-blue: #45a6fa;
  --c-blue-light: #bfe9f6;

  --f-os: "Open sans, sans serif";
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}
